<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="display: none;">Marca: <%= brand.name %> </p>

    <form action="/brand/update/<%= brand.id %>?_method=PUT" method="POST">
        <label for="title">Brand</label>
        <p><input type="text" name="name" id="" value="<%= brand.name %>" required></p>
        <button class="botonBorrar" type="submit">Editar la Marca</button>
            <br><br>
    </form>
    <form action="/brand/destroy/<%= brand.id %>?_method=DELETE" method="POST">
        <button class="botonBorrar" type="submit">Eliminar la Marca</button>
            <br><br>
    </form>
    <br><br>
    <a  class="botonVolver" href="/brand">Listado de Marcas</a>
</body>
</html>