<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Categoria</title>
</head>
<body>
    <p style="display: none;">Categoria: <%= categories.name %> </p>

    <form action="/category/update/<%= categories.id %>?_method=PUT" method="POST">
        <label for="title">Categoria</label>
        <p><input type="text" name="name" id="" value="<%= categories.name %>" required></p>
        <button class="botonBorrar" type="submit">Editar categoria</button>
            <br><br>
    </form>
    <form action="/category/destroy/<%= categories.id %>?_method=DELETE" method="POST">
        <button class="botonBorrar" type="submit">Eliminar categoria</button>
            <br><br>
    </form>
    <br><br>
    <a  class="botonVolver" href="/category">Listado de Categorias</a>
</body>
</html>