<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LISTADO DE COLORES</h1>
    <div><a href="color/add">Alta de Color</a></div>
    <div>    <form action="/color/create" method="POST">
        <div class="fr_nombre">
            <label class="fr_lbltexto">Nombre</label>
            <input type="text" name="name" id="" required>
        </div>
        <br>
        <div class="fr_registro">
            <div class="fr_registro-left">
                <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
                    <span class="pd_gl-cta__content">
                        Crear
                    </span>
                </button>
            </div>
        </div>
    </form> </div>
    <ul>
        <% for( let i = 0; i < colors.length; i++ ) { %>
        <li>
            <a href="color/detail/<%= colors[i].id %>"><%= colors[i].name %></a>
        </li>
        <% } %>
    </ul>
</body>
</html>