<!doctype html>
<html lang="en">
	<%- include('partials/head') %>

    <body>
        
        <%- include('partials/header') %>

        <main>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <!-- IMAGENES VERSION GRANDE -->
                <div class="carousel-inner d-none d-md-block d-lg-block d-xl-block">
                  <div class="carousel-item active">
                    <img src="/images/webyte-ropa-deportiva-1.jpg" class="d-block w-100 img-responsive" alt="WeByte Ropa Deportiva">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/webyte-ropa-deportiva-2.jpg" class="d-block w-100 img-responsive" alt="WeByte Ropa Deportiva">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/webyte-ropa-deportiva-3.jpg" class="d-block w-100 img-responsive" alt="WeByte Ropa Deportiva">
                  </div>
                </div>

                <!-- IMAGENES VERSION CHICA -->
                <div class="carousel-inner d-block d-sm-block d-md-none">
                  <div class="carousel-item active">
                    <img src="/images/webyte-ropa-deportiva-1-mobile.jpg" class="d-block w-100" alt="WeByte Ropa Deportiva">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/webyte-ropa-deportiva-2-mobile.jpg" class="d-block w-100" alt="WeByte Ropa Deportiva">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/webyte-ropa-deportiva-3-mobile.jpg" class="d-block w-100" alt="WeByte Ropa Deportiva">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </main>

        <section class="accesos">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <a href="/product/1">
                            <img src="/images/acceso-hombres.jpg" title="Acceso Hombres WeByte" />
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a href="/product/2">
                            <img src="/images/acceso-mujeres.jpg" title="Acceso Hombres WeByte" />
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a href="/product/3">
                            <img src="/images/acceso-ninios.jpg" title="Acceso Hombres WeByte" />
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="img-destacada parallax"></div>
        </section>

<!--PODRIA INTERESARTE-->
<section>
  <div class="container novedades">
      <h2>Podria interesarte</h2>
  </div>

  <div id="carouselExampleInterval" class="carousel slide multi-item-carousel" data-bs-ride="carousel">
      <div class="container">
          <div class="col">
              <div class="carousel-inner row w-100 mx-auto">
                  <div class="carousel-item active">
                      <div class="novedad">
                          <a href="/detalleProducto">
                              <figure>
                                  <img src="/images/art1.jpg" class="d-block w-100" alt="Buzo canguro Star bicolor WeByte" class="img-fluid">
                              </figure>
                              <div class="prod-info">
                                  <div class="section">Hombre</div>
                                  <h4>Buzo Canguro Star bicolor</h4>
                                  <div class="precio">$3.500</div>
                              </div>
                          </a>
                      </div>
                      <div class="novedad d-none d-sm-block">
                          <a href="/detalleProducto">
                              <figure>
                                  <img src="/images/art2.jpg" class="d-block w-100" alt="Pantalon Joggers con puño WeByte" class="img-fluid">
                              </figure>
                              <div class="prod-info">
                                  <div class="section">Hombre</div>
                                  <h4>Pantalon Joggers con puño</h4>
                                  <div class="precio">$3.800</div>
                              </div>
                          </a>
                      </div>
                      <div class="novedad d-none d-sm-block d-md-block">
                          <a href="/detalleProducto">
                              <figure>
                                  <img src="/images/art3.jpg" class="d-block w-100" alt="Zapatilla colegial con velcro WeByte" class="img-fluid">
                              </figure>
                              <div class="prod-info">
                                  <div class="section">Niño</div>
                                  <h4>Zapatilla colegial con velcro</h4>
                                  <div class="precio">$4.800</div>
                              </div>
                          </a>
                      </div>
                      <div class="novedad d-none d-sm-block d-md-block">
                          <a href="/detalleProducto">
                              <figure>
                                  <img src="/images/art4.jpg" class="d-block w-100" alt="Remera algodon negra WeByte" class="img-fluid">
                              </figure>
                              <div class="prod-info">
                                  <div class="section">Hombre</div>
                                  <h4>Remera algodon negra</h4>
                                  <div class="precio">$2.500</div>
                              </div>
                          </a>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div class="novedad">
                          <a href="/detalleProducto">
                              <figure>
                                  <img src="/images/detalle-producto1.jpg" class="d-block w-100" alt="Remera algodon negra WeByte" class="img-fluid">
                              </figure>
                              <div class="prod-info">
                                  <div class="section">Hombre</div>
                                  <h4>Remera algodon negra</h4>
                                  <div class="precio">$3.500</div>
                              </div>
                          </a>
                      </div>
                      <div class="novedad d-none d-sm-block">
                          <a href="/detalleProducto">
                              <figure>
                                  <img src="/images/detalle-producto2.jpg" class="d-block w-100" alt="Remera algodon roja WeByte" class="img-fluid">
                              </figure>
                              <div class="prod-info">
                                  <div class="section">Hombre</div>
                                  <h4>Remera algodon roja</h4>
                                  <div class="precio">$3.500</div>
                              </div>
                          </a>
                      </div>
                      <div class="novedad d-none d-sm-block d-md-block">
                          <a href="/detalleProducto">
                              <figure>
                                  <img src="/images/detalle-producto3.jpg" class="d-block w-100" alt="Remera algodon blanca WeByte" class="img-fluid">
                              </figure>
                              <div class="prod-info">
                                  <div class="section">Hombre</div>
                                  <h4>Remera algodon blanca</h4>
                                  <div class="precio">$3.500</div>
                              </div>
                          </a>
                      </div>
                      <div class="novedad d-none d-sm-block d-md-block">
                          <a href="/detalleProducto">
                              <figure>
                                  <img src="/images/detalle-producto4.jpg" class="d-block w-100" alt="Remera algodon azul WeByte" class="img-fluid">
                              </figure>
                              <div class="prod-info">
                                  <div class="section">Hombre</div>
                                  <h4>Remera algodon azul</h4>
                                  <div class="precio">$3.500</div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>
</section>
<!--FIN PODRIA INTERESARTE-->
        
        <%- include('partials/footer') %>

        <script src="/js/bootstrap.bundle.min.js"></script>

    </body>
</html>