<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>listado productos</h1>
    <a href="product/add">Alta de productos</a>
    <p>SEARCH</p>
    <div class="buscar-titulo">
        <form action="/product/search" method="get">
            <input type="text" name="keyword" id="keyword">
            <button class="boton-buscar" type="submit">Buscar un Producto</button>
        </form>
    </div>
    <ul>
        <% for( let i = 0; i < products.length; i++ ) { %>
        <li>
            <a href="/product/detail/<%= products[i].id %>"><%= products[i].name %></a>
        </li>
        <% } %>
    </ul>
</body>
</html>