<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>listado productos</h1>
    <a href="product/add">Alta de productos</a>
    <ul>
        <% for( let i = 0; i < products.length; i++ ) { %>
        <li>
            <a href="/product/edit/<%= products[i].id %>"><%= products[i].name %></a>
        </li>
        <% } %>

    </ul>
</body>
</html>